body {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}


/* Css ProfilePage */

.form--background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180.04deg, #FBBAA6 0.03%, rgba(255, 0, 0, 0.42) 202.92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form--container {
    background-color: white;
    width: 90vw;
    height: 60vh;
    border-radius: 0.5rem;

}

.form-nav {
    background: linear-gradient(182.54deg, rgba(220, 112, 112, 0.79) 2.12%, rgba(242, 67, 67, 0.79) 94.88%, rgba(220, 112, 112, 0) 97.88%);
    height: 9vh;
    border-radius: 0.5rem 0.5rem 0rem 0rem;

}

.form {
    display: flex;
    flex-direction: column;
    width: 33vw;
    margin-top: 8rem;
    margin-left: 2rem;
}

.form > input {
    height: 2rem;
    width: 12rem;
}
